/* universal selector to select all elements to have no margin and padding for border box */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body configuration */
body {
    background-color: #d9dcd6;
}

/* link configuration (no decoration) */
a {
    color: #ffffff;
    text-decoration: none;
}

/* paragraph configuration */
p {
    font-size: 16px;
}

/* header class configuration */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* h1 under header class will have the configs below */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* header class that contains h1, with class="seo" will have the below config */
.header h1 .seo {
    color: #d9dcd6;
}

/* modified from div to nav to follow updated semantic HTML */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* nav unordered list will have bullet points with no style */
.header nav ul {
    list-style-type: none;
}

/* sets the listed items under the nav's unordered list to be inline-block and have a left margin of 25px */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* config for hero class - for primary/main background image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* added a float-left class for a preset for items to float left. */
.float-left {
    float: left;
    margin-right: 25px;
}

/* added a float-right class for a preset for items to float right. */
.float-right {
    float: right;
    margin-left: 25px;
}

/* configuration for content class */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* configuration for main content of the webpage (SEO, online reputation management, social media marketing) */
.maincontent {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* configuration for h2 in main content */
.maincontent h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* configuration for images in main content */
.maincontent img {
    max-height: 200px;
}

/* configuration for benefits class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* added a horiseonbenefits class */
.horiseonbenefits {
    margin-bottom: 32px;
    color: #ffffff;
}

/* configuration for h3 under horiseonbenefits class */
.horiseonbenefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* configuration for images under horiseonbenefits class */
.horiseonbenefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer configuration */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}